@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 #00000033;
}

.page-header, .inner-header {
  color: #000000;
  background-color: #FFFFFF;
  min-height: 64px;
}

.page-navigation, .inner-navigation {
  display: flex;
  margin: 0 auto;
  width: 1060px;
  align-items: center;
  justify-content: space-between;
  min-height: 64px;
  min-width: 268px;
  margin-bottom: 51;
  column-gap: 30px;
}

.logo {
  margin-bottom: -8px;
}


.navigation-list {
  list-style-type: none;
  max-width: 339px;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}


.navigation-user-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  flex-wrap: wrap;
  min-width: 268px;
  min-height: 64px;
  align-items: center;
}

.navigation-user-item:not(:last-child) {
  margin: 0;
  padding: 0;
  min-width: 44px;
  min-height: 64px;
}
.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 20px 16px;
}

.navigation-user-link {
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-align: center;
  display: block;
  text-transform: uppercase;
}

.navigation-book-button {
  margin-left: auto;
}

.navigation-book-button-text {
  color: #FFFFFF;
  background-color: #756157;
  font-family: inherit;
  margin: 0;
  display: block;
  padding: 8px 34px 8px 34px;
  align-self: center;
  border-radius: 4px;

}

/*Как сделать "Чтобы контент не прилипал к шапке и футеру добавим отступы." чтобы не отодвигалось background-pic*/
.main-index {
  background-color: #FFFFFF;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  width: 1200px;

}

.page-hero-welcome {
  display: block;
  margin: 0 auto;

}

.page-hero {
  background-image: url("../images/mountains-page-hero.jpg") ;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  margin: 0;
  padding: 0;
  padding-top: 51px;
  box-sizing:border-box;
  margin-bottom: 69px;
}

.reasons {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 64px;

}

.reasons-lead {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.reasons-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 90px;
}

.reasons-list {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

}

.advantages-wrap {
  width: 230px;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 102px 85px;

}

.reasons-item {
  list-style-type: none;
}

.reasons-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 62px;
}

.reasons-title-description {
  font-weight: 400;
  margin: 0;
  padding: 0;
  max-width: 230px;

}

.card-dark {
  background-color: #82B3D3;
  color:#FFFFFF;
}

.card-light {
  background-color: #83B3D31F;
}

.card-medium {
  background-color: #83B3D333;
}

.promo {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.promo-header {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding: 0;
  display: block;
  margin-bottom: 20px;
}

.promo-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  display: block;
  margin-bottom: 64px;
}

.promo-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin:0;
  padding: 0;
  margin-bottom: 96px;
}

.promo-item {
  width: 400px;
  min-height: 385px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promo-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;

}


.book {
  text-align: center;
  margin: 0;
  margin-bottom: 96px;
}
.book-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.book-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;

}

.book-link {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  background-color: #756157;
  padding: 8px 50px;

}

.newsletters {
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  background-image: url("../images/Subscribe-blurred.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 96px 258px 104px 258px;
  min-width: 684px;
}

.newsletters-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin:0;
  padding: 0;
  margin-bottom: 20px;
}

.newsletters-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;

}

.email-placeholder {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  font-family: inherit;
  min-width: 452px;
  min-height: 52px;
  border-radius: 4px 0 0 4px;
  background: #F2F2F2;
  border-color: transparent;
}

.newsletters-form {
  margin: 0;
  padding: 0;
  min-width: 684px;
  max-height: 52px;



}

.newsletters-form-email {
  margin: 0;
  padding: 0;
  display: flex;
}

.newsletters-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  background-color: #82B3D3;
  color:#FFFFFF;
  text-transform: uppercase;
  font-family: inherit;
  border-radius: 0 4px 4px 0;
  border-color: transparent;
  min-width: 232px;
  min-height: 52px;
}




.page-footer {
  margin: 0 auto;
  width: 1060px;
  padding: 40px 70px 30px;
}

.socials-wrapper {
  width: 1060px;
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-socials {
  width: 142px;

}

.footer-social-list {
  list-style-type: none;
}

.footer-contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  width: 720px;
}

.htmlacademy-link {
  width: 115px;
}

.main-inner {
  background-color: #FFFFFF;
  color: #000000;
  padding: 0;
  margin: 0;

}

.main-inner-header {
  width: 1060px;
  text-align:left;

}

.filter {
  background-image: url("../images/blurred-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0;
  padding: 35px 70px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
}

.breadcrumbs {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  margin-bottom: 40px;
}

.catalog-filter {
  margin: 0 auto;
  display: flex;
  width: 1060px;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

.catalog-filter-group {
  border: none;
}

.infrastructure-form {
  margin:0;
  padding: 0;
  margin-right: 70px;
  width: 151px;
}

.accommodation-form {
  margin:0;
  padding: 0;
  width: 151px;
  margin-right: 140px;
}

.price-filter {
  width: 287px;
}

.slider {
  border: none;
}

.form-buttons {
  margin: 0;
  margin-left: auto;
  padding: 0;
  min-width: 191px;
  min-height: 34px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
}

.button-filter-submit {
  background-color: #82B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
}


.button-filter-reset {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
}




.catalog-filter-group {
  text-align: left;
  color: #FFFFFF;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 32px;
}

.catalog-filter-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.infrastructure-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.accommodation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.catalog-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  min-width: 338px;
  margin-right: 200px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.catalog-menu {
  margin: 0 auto;
  width: 1060px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 49px;
  padding: 50px 70px 40px;

}



.catalog-view-list {
  margin-left: 70px;
  width: 160px;
  list-style-type: none;
}

.select-control {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #333333;
  width: 292px;
}

.product-card {
  width: 340px;
  min-height: 438px;
  margin: 0;
  list-style-type: none;
  box-shadow: 0 0 0 1px #E6E6E6;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 20px;
  gap: 16px 0;
}

.product-card-image {
  display: block;
  padding: 0;
  margin: 0;
}

.product-card-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #000000;
  text-decoration: none;
  min-width: 140px;

  }
.product-card-title {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 300px;


}


.product-type {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #333333;
  display: block;
  padding: 0;
  margin: 0;
}


.product-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  display: block;
  padding: 0;
  margin: 0;
  }

.product-info, .add-to-favourites {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF
}

.product-info {
  background-color: #756157;
  display: block;
  padding: 0;
  margin: 0;
}

.add-to-favourites {
  background-color: #82B3D3
}

.card-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #333333;
  display: block;
  padding: 0;
  margin: 0;
}

.product-list {
  display: flex;
  margin: 0 auto;
  padding: 0 70px 40px;
  width: 1060px;
  flex-wrap: wrap;
  gap: 20px;
}





.pagination-list {
  display: flex;
  margin:  auto 0;
  padding:  40px 70px 60px;
  width: 1060px;
  justify-content: flex-start;
  min-width: 60px;
  min-height: 60px;
  list-style-type: none;
  gap: 8px;
}

.pagination-link {
  color: #FFFFFF;
  background-color: #82B3D3;
  box-sizing: border-box;
  padding: 20px 24px;
  margin: 0;
  min-width: 60px;
  min-height: 60px;
  text-decoration: none;
  border-radius: 4px;
  display: block;

}


.pagination-item {
  list-style-type: none;
  flex-wrap: wrap;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: center;


}



.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link-divider {
  display: block;
  min-width: 60px;
  min-height: 60px;
  box-sizing: border-box;
  padding: 20px 24px;
  margin: 0;
}

.newsletters-inner {
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
  padding: 96px 258px 104px;
}
