@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

.list-reset {
 margin: 0;
 padding: 0;
 list-style-type: none;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 #00000033;
}

.page-header{
  z-index: 1;
}

.page-navigation, .inner-navigation {
  display: flex;
  margin: 0 auto;
  width: 1060px;
  justify-content: space-between;
  column-gap: 30px;
}

.logo-img {
  margin-bottom: -10px;
}


.navigation-list {
  max-width: 339px;
  display: flex;
  flex-wrap: wrap;
}


.navigation-user-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  flex-wrap: wrap;
  min-width: 268px;
  align-items: center;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 20px 16px;

}

.navigation-link[aria-current] {
  position: relative;
}

.navigation-link[aria-current]::after {
  content:"";
  width: 68px;
  height: 2px;
  background-color: #756157;
  position: absolute;
  top: 100%;
  left: 15%;
}

.navigation-user-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  padding: 22px 12px;
}

.navigation-user-item {
  position: relative;
  padding-left: 12px;
  padding-right: 12px;
}

.navigation-icon {
  position:absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.navigation-book-button {
  margin-left: 20px;
}

.navigation-book-button-text {
  color: #FFFFFF;
  background-color: #756157;
  font-family: inherit;
  margin: 0;
  padding: 8px 34px 8px 34px;
  border-radius: 4px;

}

.page-hero {
  background: url("../images/hero-divider.svg") 1200px 57px no-repeat, url("../images/index-background.jpg") 1200px 485px no-repeat;
  background-position: center bottom, center top;
  padding: 51px 371px 81px;
  background-color: #ab8e7f;

}
.page-hero-welcome {
  display: flex;
}
.reasons-wrap {
  text-align: center;
  margin: 0 auto;
  padding: 69px 0 90px;
  max-width: 656px;
}

.reasons-lead {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.reasons-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.reasons-list {
  display: flex;
  text-align: center;
  flex-wrap: wrap;



}

.advantages-wrap {
  padding: 50px 85px;
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.reasons-item {
  min-height: 385px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.reasons-item-big {
  display: flex;
}

.reasons-item-big:last-child {
  flex-direction: row-reverse;
}

.reasons-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 62px;
  position: relative;
  max-width: 175px;
}

.reasons-title::after {
content: "";
position: absolute;
height: 2px;
width: 60px;
bottom: -32px;
left: 50%;
background-color: rgba(0, 0, 0, 0.2);
transform: translateX(-50%);
--color-white: rgb(255, 255, 255, 0.2);
}

.reasons-item:has(.reasons-img) .reasons-title::after {
  background-color: var(--color-white);
}

.reasons-title-description {
  margin: 0 auto;;
  padding: 0;
}

.card-dark {
  background-color: #82b3d3;
  color:#FFFFFF;
}

.card-light {
  background-color: #83b3d31f;
}

.card-medium {
  background-color: #83b3d333;
}

.promo {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.promo-wrap {
  margin: 0 auto;
  padding: 64px 0;
  max-width: 505px;
}

.promo-header {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding: 0;
  display: block;
  margin-bottom: 20px;
}

.promo-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  display: block;
  text-transform: none;
}

.promo-item-wrap {
  margin: 0 auto;
  width: 230px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.promo-item-description {
  margin: 0 auto;
}

.promo-list {
  display: flex;
  flex-wrap: wrap;
}

.promo-item {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promo-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;

}

.promo-img {
  order: -1;
  margin: 0 auto;
}

.book-wrap {
  max-width: 592px;
  margin: 0 auto;
  padding: 96px 0;
  text-align: center;
}

.book-title {
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.book-description {
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;

}

.book-link {
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  background-color: #756157;
  padding: 8px 50px;
  max-width: 376px;
  box-sizing: border-box;
  border-radius: 4px;
}

.newsletters {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  background-image: url("../images/subscribe-blurred.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding-top: 96px;
  padding-bottom: 104px;
}

.newsletters-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin:0;
  padding: 0;
  margin-bottom: 20px;
}

.newsletters-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletters-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
  max-width: 475px;

}

.email-placeholder {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  font-family: inherit;
  min-width: 452px;
  min-height: 52px;
  border-radius: 4px 0 0 4px;
  background: #f2f2f2;
  border-color: transparent;
}

.newsletters-form {
  margin: 0;
  padding: 0;
  min-width: 684px;
  max-height: 52px;
}

.newsletters-form-email {
  margin: 0;
  padding: 0;
  display: flex;
}


.newsletters-button {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  background-color: #82B3D3;
  color:#ffffff;
  text-transform: uppercase;
  font-family: inherit;
  border-radius: 0 4px 4px 0;
  border-color: transparent;
  padding: 8px 50px;
}




.page-footer {
  margin: 0 auto;
  padding: 40px 70px 30px 70px;
}

.socials-wrapper {
  width: 1060px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


.footer-social-list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 150px;

}

.socials-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
  position: relative;
}

.socials-icon {
  position:absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  padding-top: 5px;
  padding-bottom: 5px;
}

.htmlacademy-link {
  display: flex;
}


.main-inner {
  background-color: #ffffff;
  color: #000000;
  padding: 0;
  margin: 0;
}

.main-inner-header {
  width: 1060px;
  text-align:left;

}

.filter {
  background-image: url("../images/blurred-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0;
  padding: 35px 70px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
}

.breadcrumbs {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 40px;
}

.catalog-filter {
  margin: 0 auto;
  display: flex;
  width: 1060px;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

.catalog-filter-group {
  border: none;
}

.infrastructure-form {
  margin:0;
  padding: 0;
  margin-right: 70px;
  width: 151px;
}

.accommodation-form {
  margin:0;
  padding: 0;
  width: 151px;
  margin-right: 140px;
}

.price-filter {
  width: 287px;
}

.slider {
  border: none;
}

.form-buttons {
  margin: 0;
  margin-left: auto;
  padding: 0;
  min-width: 191px;
  min-height: 34px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
}

.button-filter-submit {
  background-color: #82B3D3;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
}


.button-filter-reset {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
}




.catalog-filter-group {
  text-align: left;
  color: #ffffff;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 32px;
}

.catalog-filter-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.infrastructure-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.accommodation-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.catalog-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  min-width: 338px;
  margin-right: 200px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.catalog-menu {
  margin: 0 auto;
  width: 1060px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 49px;
  padding: 50px 70px 40px;

}



.catalog-view-list {
  margin-left: 70px;
  max-width: 160px;
  display: flex;
  gap: 8px;

}

.catalog-view-button {
  padding: 17px 16px;
  border: solid 1px black;
  border-radius: 4px;
  position: relative;
  display: flex;
}

.grid-layout-icon {
  position:absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.card-layout-icon {
  position:absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.list-layout-icon {
  position:absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.select-control {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #333333;
  width: 292px;
}

.product-card {
  width: 340px;
  min-height: 438px;
  margin: 0;
  box-shadow: 0 0 0 1px #E6E6E6;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 20px;
  gap: 16px 0;
}

.product-card-image {
  display: block;
  padding: 0;
  margin: 0;
}

.product-card-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #000000;
  text-decoration: none;
  min-width: 140px;

  }
.product-card-title {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 300px;


}


.product-type {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #333333;
  display: block;
  padding: 0;
  margin: 0;
}


.product-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  display: block;
  padding: 0;
  margin: 0;
  }

.product-info, .add-to-favourites {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff
}

.product-info {
  background-color: #756157;
  display: block;
  padding: 0;
  margin: 0;
}

.add-to-favourites {
  background-color: #82B3D3
}

.card-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #333333;
  display: block;
  padding: 0;
  margin: 0;
}

.product-list {
  display: flex;
  margin: 0 auto;
  padding: 0 70px 40px;
  width: 1060px;
  flex-wrap: wrap;
  gap: 20px;
}





.pagination-list {
  display: flex;
  margin:  auto 0;
  padding:  40px 70px 60px;
  width: 1060px;
  justify-content: flex-start;
  min-width: 60px;
  min-height: 60px;
  gap: 8px;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  box-sizing: border-box;
  padding: 20px 24px;
  margin: 0;
  min-width: 60px;
  min-height: 60px;
  text-decoration: none;
  border-radius: 4px;
  display: block;

}


.pagination-item {
  flex-wrap: wrap;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: center;


}



.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-divider {
  display: block;
  min-width: 60px;
  min-height: 60px;
  box-sizing: border-box;
  padding: 20px 24px;
  margin: 0;
}

.newsletters-inner {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 96px 258px 104px;
}
